In [9]:
from datetime import datetime

print(f"Today is {datetime.now()}\t and\t It is lesson 02 statistic from datescience")
for i in range(0,5,5):
    print(f"Helloworld ")

Today is 2025-05-09 11:19:46.169436	 and	 It is lesson 02 statistic from datescience
Helloworld

In [10]:
import numpy as np
import pandas as pd

In [14]:
dataset = pd.read_csv("..\\Datasets\\students.csv")

In [17]:
print(dataset.head(5))

  school sex  age address famsize Parrent_status  Mother_edu  Father_edu  \
0     GP   F   18       U     GT3              A           4           4
1     GP   F   17       U     GT3              T           1           1
2     GP   F   15       U     LE3              T           1           1
3     GP   F   15       U     GT3              T           4           2
4     GP   F   16       U     GT3              T           3           3

  Mother_job Father_job  ... Family_quality_reln freetime_after_school  \
0    at_home    teacher  ...                   4                     3
1    at_home      other  ...                   5                     3
2    at_home      other  ...                   4                     3
3     health   services  ...                   3                     2
4      other      other  ...                   4                     3

   goout_with_friends  workday_alcohol_consum  weekend_alcohol_consum  \
0                   4                       1                       1
1                   3                       1                       1
2                   2                       2                       3
3                   2                       1                       1
4                   2                       1                       2

  health_status absences  G1  G2  G3
0             3        6   5   6   6
1             3        4   5   5   6
2             3       10   7   8  10
3             5        2  15  14  15
4             5        4   6  10  10

[5 rows x 33 columns]

In [24]:
print(dataset['age'].mean())                          #using mean function
avg = sum(dataset['age'])/len(dataset['age'])         #using avg formula
print(avg)

16.696202531645568
16.696202531645568

In [26]:
print(f"The number of record is {len(dataset)}")

The number of record is 395

In [32]:
print(f"the set of occupation is {set(dataset["Mother_job"]) or set(dataset['Father_job'])}")

the set of occupation is {'other', 'services', 'at_home', 'teacher', 'health'}